body{
    background-image: url(src/body_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
.sidenav{
    rotate: 270deg;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 32%;
    margin-left: -15%;
}
.sidenav h3, .sidenav li{
    color: white;
}
.sidenav li{
    list-style-type: none;
    display: inline;
    margin: 20px;
}
.sidenav li:hover{
    color: #b95220;
}
.side2 h1{
    margin-left: 2%;
    color: white;
}
.mainnav{
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
    width: 90%;
    margin-top: -13%;
}
.nav1{
    display: flex;
    gap: 50px;
    margin-left: 4%;
}
.nav1 p{
    color: white;
    font-size: 20px;
}
.icon1{
    margin-right: 10px;
}
.nav2{
    color: white;
    font-size: 20px;
    margin-top: 1%;
}
.icon2{
    margin-right: 50px;
}
.banner{
    width: 80%;
    margin-left: 10%;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}
.text{
    width: 60%;
}
.text h1{
   font-size: 55px;
   font-weight: 700;
   color: white;
}
.text p{
    color: white;
    font-size: 20px;
    text-align: justify;
}
button{
    margin-left: 6%;
    margin-top: 4%;
    padding: 3% 9% 3% 9%;
    border-radius: 35px;
    border-color: #b95220;
    background-color: #b95220;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
button:hover{
    background-color: black;
    border-color: black;
}
.sec2{
    background-color: white;
    margin-top: 10%;
    padding-top:3% ;
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
}
.sec2 h1{
    font-size: 40px;
    font-weight: 800;
}
.sec2 p{
    font-size: 19px;
    padding-top: 3%;
    margin-right: 9%;
    line-height: 2;
}
.butt2{
    padding: 2% 4% 2% 4%;
    font-size: 18px;
    font-weight: 400;
}
.sec3 h1, .sec4 h1{
    padding-top: 4%;
    color: white;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.sec3 p{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 3%;
}
.images1,.images2{
    display: flex;
    margin-top: 4%;
    margin-left: 14%;
    gap: 30px;
}
.box1{
    height: 28vh;
    width: 18%;
    border: solid;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butt3{
    padding: 1% 3% 1% 3%;
    font-size: 18px;
    font-weight: 400;
    margin-left: 45%;
}
.sec4{
     margin-top: 5%;
}
.place1, .place2{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 1%;
}
input{
    height: 8vh;
    width: 30%;
    background-image: url(src/body_bg.png);
    color: white;
    padding-left: 1%;
    font-size: 20px;
}
.sec5{
    text-align: center;
    padding-top: 11%;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-right: 8%;
    margin-top: 8%;
}
.foot1{
    width: 20%;
}
.foot4 input{
    height: 4vh;
    font-size: 13px;
    width: 120%;
    color: black;
    background-image: none;
    margin-bottom: 6%
}
.buttfoot{
    height: 6vh;
    width: 50%;
    font-size: 15px;
    font-weight: 200;
}
.footicon{
    padding: 10px 10px 10px 10px;
    background-color: white;
    color: #b95220;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 35px;
    margin-top: 6%;
}
.foot3 p:hover{
    color: #b95220;
}
.footlast{
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 6%;
}
@media screen and (max-width:1200px){
    .side1 li{
        margin: 10px;
        margin-top: -4%;
    }
   .side2 h1{
    font-size: 23px;
   }
   .text h1{
    font-size: 40px;
    font-weight: 600;
   }
   .img img{
    width: 80%;
    margin-left: 18%;
   }
   .box1{
    width: 21%;
   }
}
@media screen and (max-width:600px) {
    .sidenav,.nav1{
        display: none;
    }
    .mainnav{
        margin-top: 5%;
    }
    .nav2{
     margin-left: 70%;
     margin-top: -35%;
    }
    .banner,.sec2,.images1,.images2,.footer{
        display: flex;
        flex-direction: column;
    }
    .text{
        width: 100%;
        margin-bottom: 12%;
    }
    .text h1{
        font-size: 35px;
        font-weight: 600;
    }
    .text p{
        font-size: 18px;
    }
    .text2 h1,.text3 h1,.sec4 h1{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        padding-top: 4%;
    }
    .text2 p{
        margin-left: 3%;
        font-size: 18px;
}
    .img2 img{
        margin-left: 0;
        width: 90%;
        padding-top: 8%;
        padding-bottom: 10%;
    }.sec3{
        padding-top: 7%;
    }
    .sec3 p{
        font-size: 18px;
        padding-top: 2%;
        padding-bottom: 8%;
    }
    .box1{
        width: 80%;
    }
    .foot1,.foo2,.foo3{
        width: 90%;
    }
    .footer{
        margin-left: 4%;
    }
    .foot4{
        width: 80%;
    }
    .footlast{
        font-size: 16px;
        padding-top: 4%;
    }
    .place1,.place2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 input{
        width: 90%;
        height: 5vh;
        font-size: 16px;
    }
    .footicon{
        margin-bottom: 4%;
    }
    .sec5 img{
        width: 80%;
        height: 30vh;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .butt3{
        width: 30%;
        margin-left: 30%;
    }
}